node_modules/
**/node_modules/
.env
*.DS_Store
server/uploads/
.git.backup/
.git.broken.backup/
.dockerignore
Dockerfile
READMe.Docker.md
compose.yaml
*dum.rdb

/server/.env

client/.env.production
client/.env.deployment
